<div class="container">
    <div class="max-w-lg mx-auto">
        <div x-data="{ btn: 'hello world' }" class="flex flex-row space-x-5">
            <x-button>Button Base</x-button>
            <x-button variant="outline">
                Button Outline
            </x-button>
        </div>

        <div class="pt-5 space-y-5">
            <x-heading size="h1">Heading 1</x-heading>
            <x-heading size="h2">Heading 2</x-heading>
            <x-heading size="h3">Heading 3</x-heading>
            <x-heading size="h4">Heading 4</x-heading>
            <x-heading size="h5">Heading 5</x-heading>
            <x-heading size="h6">Heading 6</x-heading>
        </div>
    </div>
</div>


{{ builder }}
    {{ partial src="sets/{type}" }}
{{ /builder }}
