{{ paginate }}
    {{# previus btn #}}
    {{ if prev_page || next_page }}
        <ul class="flex items-center justify-center cursor-default group font-rubik gap-x-2 md:gap-x-10">
            {{ if prev_page }}
                <li
                    class="p-3 text-gray-800 transition duration-500 ease-out border-2 rounded-md md:py-4 md:px-6 hover:bg-red-500 hover:text-white hover:border-transparent">
                    <a class="flex items-center justify-center" href="{{ prev_page }}">
                        {{ svg src="prev" class="w-6 h-6 fill-current " }}
                        Previous page
                    </a>
                </li>
            {{ else }}
                <li
                    class="flex items-center p-3 text-gray-800 duration-500 border-2 rounded-md md:px-6 md:py-4 hover:bg-red-500 hover:text-white hover:border-transparent">
                    {{ svg src="prev" class="w-6 h-6 fill-current " }}
                    Previous page
                </li>
            {{ /if }}

            {{# next btn #}}
            {{ if next_page }}
                <li
                    class="p-3 text-gray-800 duration-500 border-2 rounded-md md:px-6 md:py-4 hover:bg-red-500 hover:text-white hover:border-transparent">
                    <a class="flex items-center justify-center " href="{{ next_page }}">
                        Next page
                        {{ svg src="next" class="w-6 h-6 fill-current" }}
                    </a>
                </li>
            {{ else }}
                <li
                    class="flex items-center p-3 text-gray-800 duration-500 border-2 rounded-md md:px-6 md:py-4 hover:bg-red-500 hover:text-white hover:border-transparent">
                    Next page
                    {{ svg src="next" class="w-6 h-6 fill-current " }}
                </li>
            {{ /if }}
        </ul>
    {{ /if }}
{{ /paginate }}
