/node_modules
/public/hot
/public/storage
/public/~partytown
/public/vendor/statamic
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store

# Assets
/public/build/manifest.json
/public/img/
/public/static/
/public/build/
/public/fonts/
